/*utf-8*/
@charset "utf-8";

/*Font site*/
@font-face {
	font-family: myFirstFont;
	src: url("../font/AmienneRegular.ttf");
}

#font {
	font-family: myFirstFont;
}

/*Bouton carte*/

.btn {
	width: 100%;
	font-size: 3em;
}

/*Cacher les cartes*/

#d1 {
	display: none;
}

#d2 {
	display: none;
}

#d3 {
	display: none;
}

#d4 {
	display: none;
}

/*Texte carte*/

.card-text {
	font-size: 2.5em;
}

/*Ckeckbox*/

#checkbox {
	width: 36px;
	height: 25px;
	padding: 0 20 20 20;
}

/*Images*/

.imgumes {
	height: 25%;
	width: 25%;
}

.imgboisson {
	height: 20%;
	width: 20%;
}

